@import "tailwindcss";


@font-face {
  font-family: 'Inter';
  src: url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'WA Flat Brush';
  src: url('/FlatBrushRegular.ttf') format('truetype');
}
@font-face {
  font-family: "playfair";
  src: url(/PlayfairDisplay-VariableFont_wght.ttf);
}
.font-wa-flat {
  font-family: 'WA Flat Brush', cursive;
}
.inter{
  font-family: 'Inter', sans-serif;
}
.playfair{
  font-family: 'playfair', serif;
}


.hover{
  cursor: pointer;
  transition: all .3s ease-in-out;
  
}
